<tr id="comment_<%= comment.id %>" class="comment" >
	<td>
		<strong><a href="#-"><%= comment.user.full_name %></a>&nbsp;<%= comment.body %></strong>
	</td>
	<td class="delete">
		<% if !comment.children.present? && current_user == comment.user %>
			<%= link_to "delete",comment_path(comment.id),:method=>"delete",:remote=>true,:class=>"pull-right" %>
		<% end %>
	</td>
</tr>
<tr id="replies_<%= comment.id %>">
	<%= render "comments/replies", :comment=> comment %>
</tr>

