<% @articles.each do |article| %>
  <div class="col-md-9">
    <h3><%= article.title %></h3>
    <p><%= article.body %></p>
  </div>  
  <div class="col-md-3">
    <h5><%= article.user.full_name %></h5>
    <table>
      <tr>
        <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
    </table>    
  </div> 
<% end %>



      












